#header ul {
  margin-right: 1%;
  /* This is needed because we do shit with materialize ¯\_(ツ)_/¯ */
}

.brand-logo {
  margin-left: 1%;
  /* This is needed because we do shit with materialize ¯\_(ツ)_/¯ */
}

#data {
  padding-left: 1%;
  padding-right: 1%;
}

a:hover {
  text-decoration: underline;
}

/* Hovering noUiSlider style */
.noUi-target {
  margin: auto;
  margin-bottom: 3em;
  margin-top: 3em;
}